body {
  background-color: #bbbbbb;
}

a {
  color: #00B7FF;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../images/intro-bg.jpg') no-repeat center center;
  background-size: cover;
}

.well {
  background-color: #FFFFFF;
}